*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.header{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size: contain;
    background-position: center;
}
.box{
    background-color: white;
    height: auto;
    width: 500px;
    margin-top: 90px;
    padding-bottom: 50px;
    display: inline-block;
    text-align: center;
    border: 2px solid white;
}
.box h1{
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 40px;
    text-transform: uppercase;
}
.box p{
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}
.box h2{
    font-size: 35px;
}
.box a{
    font-size: 25px;
    text-decoration: none;
    border: 1px solid black;
    background-color: rgba(79, 79, 136, 0.856);
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
}

@media (max-width: 600px){
    .header{
        background-size: cover;
    }
    .box{
        width: 300px;
        margin-top: 80px;
        backdrop-filter: blur(2px);
    }
    .box h1{
        padding-top: 30px;
        padding-bottom: 5px;
        font-size: 27px;
    }
    .box p{
        font-size: 25px;
        padding-bottom: 0px;
    }
    .box h2{
        font-size: 25px;
        padding-bottom: 5px;
    }
    .box a{
        font-size: 25px;
    }
}

@media (max-width: 450px){
    .header{
        background-size: cover;
    }
    .box{
        width: 300px;
        margin-top: 110px;
        backdrop-filter: blur(2px);
    }
    .box h1{
        padding-top: 30px;
        padding-bottom: 5px;
        font-size: 26px;
    }
    .box p{
        font-size: 25px;
        padding-bottom: 0px;
    }
    .box h2{
        font-size: 25px;
        padding-bottom: 5px;
    }
    .box a{
        font-size: 25px;
    }
}

